.list-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-title {
  padding-left: 85px;
  align-self: flex-start;
}
.list-table {
  padding: 10px;
  width: 90%;
  height: 700px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-radius: 5px;
  overflow-y: scroll;
}

.table td,
.table th {
  vertical-align: middle;
  text-align: center;
}
.table-btn {
  display: flex;
  align-self: flex-end;
  margin-top: 20px;
  padding-right: 70px;
}
.tablebtn {
  width: 80px;
  letter-spacing: 4px;
}
